body {
        font-family: 'Manrope', sans-serif;
        line-height: 1.6;
        background-color: #131314;
        color: #e3e3e3;
        margin: 40px auto !important;
        padding: 20px;
        width: 100%
    }

    .container {
        margin: 40px auto;
        width: fit-content;
    }

    .main-content-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }

    .form-column {
        flex: 1;
        min-width: 350px;
        max-width: 480px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 16px;
    }

    .form-row {
        display: flex;
        gap: 16px;
    }

    .form-col {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .result-column {
        flex: 1;
        min-width: 350px;
        max-width: 600px;
    }

    .form-group {
        width: 100%;
    }

    pre::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
    }

    label {
        display: block;
        margin-bottom: 8px;
        font-weight: 400;
        font-size: 14px;
    }

    input[type="text"],
    input[type="url"],
    input[type="date"],
    input[type="time"],
    textarea,
    select {
        width: 100%;
        padding: 6px 12px;
        border: 2px solid transparent;
        background-color: #1b1b1b;
        color:#e3e3e3;
        border-radius: 8px;
        box-sizing: border-box;
        font-family: inherit;
        font-size: 0.875rem;
        line-height: 1.25rem;
        transition: border-color 0.3s;
    }

    button {
        background-color: #0A84FF;
        color: #e3e3e3;
        padding: 6px 12px;
        border: none;
        border-radius: 8px;
        justify-content: center;
        cursor: pointer;
        font-size: 0.875rem;
        line-height: 1.25rem;
        transition: background-color 0.3s;
    }

    button:hover {
        background-color: rgb(25, 136, 255);
    }

    #result-container {
        position: relative;
    }

    #schema-form {
        display: flex;
        flex-direction: column;
        gap: 28px;
    }

    #copy-button {
        position: absolute;
        top: 0px;
        right: 0px;
    }

    pre {
        color: #e3e3e3;
        white-space: pre-wrap;
        word-wrap: break-word;
        font-family: "Courier New", Courier, monospace;
        font-size: 14px;
        max-height: 660px;
        overflow-y: auto;
    }

    pre::-webkit-scrollbar {
        width: 15px;
        height: 12px;
    }

    pre::-webkit-scrollbar-track {
        background: rgba(241, 241, 241, 0);
        border-radius: 10px;
    }

    pre::-webkit-scrollbar-thumb {
        background: rgba(136, 136, 136, 0.5);
        border-radius: 10px;
        border: 4px solid rgba(241, 241, 241, 0);
    }

    pre::-webkit-scrollbar-thumb:hover {
        background: rgba(85, 85, 85, 0.7);
    }

    pre {
        scrollbar-width: thin;
        scrollbar-color: rgba(136, 136, 136, 0.5) rgba(241, 241, 241, 0);
    }

    .error {
        color: red;
        font-size: 0.9em;
        margin-top: 5px;
    }

    hr {
        border: 0;
        border-top: 1px solid #444746;
        margin: 0px 0;
    }
